.calculator{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;
    background-image: linear-gradient(
        120deg,
        rgba(46, 35, 37,0.3),
        rgba(159, 117, 107,0.6)
    );
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden; /* Hide overflow within this component */
}


/* Main data container */
.data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 900px;
}

.data h1{
    font-size: 1rem;
    text-align: center;
    margin: 0;
}

.data .divContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.data .labelsContainer{
    font-size: 0.8rem;
}

/* Left container */
.data .div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 150px;
    height: 150px;
}
  
.data .div1 input{
    width: 120px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
.data .div1 button{
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #9F756B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.data .div1 button:hover{
    background-color: #80594D;
}
  
/* Center container */
.data .div2{
    flex: 1;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 3px;
    width: 500px;
    height: 100px;
    min-height: 100px;
}
  

  
/* Right container */
.data .div3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 150px;
    height: 150px;
}
  
.data .div3 button{
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #9F756B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.data .div3 button:hover{
    background-color: #80594D;
}


.row2{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.row2 h1{
    font-size: 1rem;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    display: flex;
}

.row2 .labelsContainer{
    border: 1px solid rgba(209, 213, 219, 0.3);
    width: 300px;
    min-height: 180px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.ungroupedCalculation{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    width: 330px;
    min-height: 200px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    width: 330px;
    min-height: 200px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.settings button{
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #9F756B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.settings button:hover{
    background-color: #80594D;
}

.settings .labelsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.settings .settingRbtn {
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-bottom: 10px;
    margin-top: 10px;
}

.settings .labelsContainer input[type="number"]{
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.settings .settingRbtn input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #9F756B;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings .labelsContainer input[type="radio"]:checked{
    background-color: #4D3F47;
}

.settings .settingRbtn div{
    display: flex;
    align-items: center;
}


.groupedCalculation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-width: 250px;
    min-height: 200px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.groupedCalculation .labelsContainer{
    width: 220px;
    min-height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.percentiles{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-width: 250px;
    min-height: 200px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.percentiles div{
    font-size: 0.8rem;
}

.percentiles .labelsContainer{
    width: 220px;
    min-height: 180px;
}

.percentiles .input{
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentiles input{
    margin-left: 5px;
    width: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.tableContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-width: 95%;
    min-height: 200px;
}

.tableContainer h1{
    font-size: 1rem;
    text-align: center;
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.table{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-height: 525px;
    width: 90px; /*170px*/
    margin: 10px;
}

.table2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-height: 525px;
    width: 170px; /*170px*/
    margin: 10px;
}

.displayContainer{
    display: flex;
    flex-direction: row;
}

.display{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    border-radius: 5px;
    min-height: 400px;
    width: 20px;
    margin: 10px;
}

/* Responsive Page */

@media (max-width: 1020px){
    .data .divContainer{
        width: 100vh;
        flex-direction: column;
    }

    .data{
        width: auto; /* Adjust the width for smaller screens */
    }

    .data .div1,
    .data .div2,
    .data .div3{
        width: 650px; /* Make divs take full width */
        height: auto; /* Adjust the height for better fit */
        margin: 10px 0; /* Adjust margin for spacing */
    }

    .data .div1{
        flex-direction: row;
    }
    .data .div1 input{
        margin-left: 5px;
        margin-right: 5px;
    }
    .data .div1 button{
        margin-left: 5px;
        margin-right: 5px;
    }

    .data .div2{
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .data .div3{
        flex-direction: row;
    }
    .data .div3 button{
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 550px) {
    .data{
        max-width: 350px;
    }
    .data .div2{
        width: 300px;
    }
}

@media (max-width: 450px) {
    .data{
        max-width: 250px;
    }
    .data .div1 {
        flex-direction: column;
    }
    .data .div2{
        width: 220px;
    }

    .ungroupedCalculation{
        width: 250px;
    }

    .ungroupedCalculation .labelsContainer{
        width: 220px;
    }

    .settings{
        width: 250px;
    }

    .settings .labelsContainer{
        flex-direction: column;
        height: 70px;
        width: 220px;
        justify-content: center;

        /* width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    }

    .table{
        width: 150px;
    }
}