.cardContainer {
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 225px;
    overflow: hidden;
    position: relative;
    /* background-image: linear-gradient(222deg, rgba(40,36,35,1) 0%, rgba(60,48,52,1) 33%, rgba(133,90,84,1) 100%); */
    margin: 10px;
}

.cardContainer button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #9F756B;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cardLink {
    text-decoration: none;
}

.cardImage {
    width: 100%;
    transition: 0.3s;
    filter: saturate(0.6);
    background: rgb(40,36,35);
}

.card {
    width: 100%;
    height: 100%;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardName {
    color: white;
    font-size: 24px;
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #9F756B;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.5s;
    flex-direction: column;
}

.cardName .row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

.cardName .name {
    width: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.cardName h3 {
    font-size: 1rem;
}

.cardName button {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cardName p {
    opacity: 0;
    font-size: 1rem;
    transition: opacity 0.3s ease-in-out;
    text-align: justify;
}

.card:hover {
    background-color: rgba(0, 0, 0, 1);
}

.card:hover img {
    transform: scale(1.1);
}

.cardContainer:hover .cardName {
    background-color: hsla(12, 21%, 52%, 0.8);
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.cardContainer:hover h3 {
    border-bottom: 2px solid black;
    margin-left: 20px;
    margin-right: 20px;
}

.cardContainer:hover h3{
    margin-bottom: 0;
}

.cardContainer:hover .cardName p {
    opacity: 1;
}

.cardContainer:hover .cardName button {
    opacity: 1;
}

.cardContainer button:hover {
    background-color: #80594D;
}

@media (max-width: 520px) {
    .cardContainer {
        width: 300px;
    }
}